<div class="main">
  <h1>Guilherme Caetano242205 - Kaua Arthur226800</h1>

  <div class="input-group">
    <input
      class="lg-text-input"
      #campoNovoItem
      placeholder="Digite sua tarefa"
      (keyup.enter)="
        CREATE_tarefa(campoNovoItem.value); campoNovoItem.value = ''
      "
    />
    <button
      class="btn-primary"
      (click)="CREATE_tarefa(campoNovoItem.value); campoNovoItem.value = ''"
    >
      Adicionar
    </button>
    <span class="erro-validacao" *ngIf="mostrarErro">
      ERRO: Por favor, digite uma tarefa.
    </span>
  </div>

  <ul>
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas">
      <app-item
        [tarefa]="tarefaDoLoop"
        (removerTarefa)="DELETE_tarefa($event)"
        (modificaTarefa)="UPDATE_tarefa(tarefaDoLoop)"
      ></app-item>
    </li>
  </ul>
</div>
